<ion-header-bar class="bar-positive">
  <div class="buttons">
    <a class="button button-icon icon ion-ios7-arrow-back" href="#/edit"></a>
    <h1 class="title">Add New Favorite</h1>
  </div>
</ion-header-bar>
<ion-content scroll="false">
  <form class="content padding" name="form" novalidate class="list">
    <div class="item item-input item-select">
      <div class="input-label">Agency</div>
      <select class="item item-input item-select" ng-model="user.agency" ng-class="{true:'selectdisable', false:''}[agencies==undefined]" ng-options="s as s.display_name for s in agencies" ng-disabled="!(agencies)" required>
      	<option ng-selected="{{user.agency == ''}}" disabled value="">{{user.agency == '' ? 'Select an Agency' : user.agency.display_name}}</option>
      </select>
    </div>
    <div>
      <ion-toggle ng-model="user.agency_default" ng-checked="user.agency_default">Save as default agency?</ion-toggle>
    </div>
    <div class="item item-input item-select">
      <div class="input-label">Route</div>
      <select class="item item-input item-select" ng-model="user.route" ng-class="{true:'selectdisable', false:''}[routes==undefined]" ng-options="s as s.display_name for s in routes" ng-disabled="!(routes)" required>
      	<option selected disabled value="">Select a Route</option>
      </select>      
    </div>
    <div class="item item-input item-select">
      <div class="input-label">Direction</div>
      <select class="item item-input item-select" ng-model="user.direction" ng-class="{true:'selectdisable', false:''}[directions==undefined]" ng-options="s as s.display_name for s in directions" ng-disabled="!(directions)" required>
      	<option selected disabled value="">Select a Direction</option>
      </select>
    </div>
    <div class="item item-input item-select">
      <div class="input-label">Stop</div>
      <select class="item item-input item-select" ng-model="user.stop" ng-class="{true:'selectdisable', false:''}[stops==undefined]" ng-options="s as s.display_name for s in stops" ng-disabled="!(stops)" required>
      	<option  selected disabled value="">Select a Stop</option>
      </select>
    </div>
    <button class="button button-block button-positive" ng-disabled="form.$invalid" ng-click="saveFavorite()">Save as favorite</button>
  </form>
  <div style="text-align:center;">
    <div class="row" ng-class="{true:'predictmainsmaller', false:'predictsub'}[$index==0]" ng-repeat="prediction in predictions | limitTo: 5">{{prediction.minutes}}<span>{{$index==0 ? ' min' : ''}}</span></div>
  </div>
</ion-content>