<ion-header-bar class="bar-positive">
  <div class="buttons">
    <a class="button button-icon icon ion-ios7-arrow-back" href="#/home"></a>
    <button class="button button-icon icon ion-close-circled" ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
  </div>  
  <h1 class="title">Edit Favorites</h1>
  <div class="buttons">
    <a class="button button-clear icon ion-plus-round" href="#/add"></a>
  	<button class="button button-clear icon ion-arrow-move" ng-click="data.showDelete = false; data.showReorder = !data.showReorder"></button>
  </div>
</ion-header-bar>
<ion-content>
	<ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
	  <!-- list of favorites -->
	  <ion-item item="favorite" ng-repeat="favorite in favorites track by $index">
        <a href="#/home/{{$index}}" style="text-decoration: inherit; color: black;">
	       {{favorite.agency.display_name}} - {{favorite.route.display_name}}<br/>{{favorite.stop.display_name}}<br/>({{favorite.direction.display_name}})
        </a>
	      <ion-delete-button class="ion-close-circled" ng-click="remove(favorite)"></ion-delete-button>
	      <ion-reorder-button class="ion-navicon" on-reorder="moveItem(favorite, $fromIndex, $toIndex)"></ion-reorder-button> 
	  </ion-item>
	</ion-list>
</ion-content>
