<!-- placeholders to show so that the structure of the page doesnt change when data comes in -->
<div class="row predictmain predictmainloading" ng-if="!(favorite.predictions)">Loading</div>
<div class="row predictsub predictsubempty" ng-if="!(favorite.predictions)"></div>

<!-- placeholders to show so that the structure remains the same if no predictions are found -->
<div class="row predictmain predictmainnone" ng-if="favorite.predictions.length === 0">No Predictions Found</div>
<div class="row predictsub predictsubempty" ng-if="favorite.predictions.length === 0"></div>

<!-- actual predictions -->
<div class="row" ng-class="{true:'predictmain', false:'predictsub'}[$index==0]" ng-repeat="prediction in favorite.predictions | limitTo: 5">{{prediction.minutes}}<span>{{$index==0 ? ' min' : ''}}</span></div>