/* Empty. Add your own CSS if you like */
select {
  display: block;
  width: 75%;
}
.selectdisable {
  color: #A8A7A8 !important;
}
body {
  background: url(../img/munistop.png);
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  font-family: Roboto, Arial, sans-serif !important;
}
.slider{
  position: absolute !important;
  top: 0 ;
  bottom: 0;
  left: 0;
  right: 0;
}

.slider-pager {
	top: initial;
	bottom: 60px !important;
}
p {
	padding: 0.2em;
}
.predictmain {
	font-size: 10em;
	padding: 1em 0.2em 0.4em 0.2em;
  border-bottom: 1px;
  border-bottom-style: solid;
  display: block;
  text-align: center;
}
.predictmainloading {
  font-size: 5em;
  padding: 2em 0.2em 1em 0.2em;
}
.predictmainnone {
  font-size: 3em;
  line-height: 1em;
  padding: 2em 0.2em 2.15em 0.2em;
}
.predictmain span{
  font-size: small;
  padding-left: 0.5em;
}
.predictsub {
  display: inline;
  padding: 1em;
  line-height: 3;
  text-align: center;
  font-size: 1.5em;
}
.predictsubempty {
  min-height: 1em;
}
.toplabel {
  border-top: 1px;
  border-top-style: solid;
  padding-top: 2em !important;
}
.label {
  padding: 1em 0.5em 1em 0.5em;
  font-size: 1.5em;
}
.bottom-right {
  position: absolute;
  bottom: 1em;
  right: 1em;
}
div span i {
  color: white;
}